@import url(./reset.css);
body {
    background-color: #292929;
}
h1 {
    font-size: 3em;
    color: antiquewhite;
    text-align: center;
    margin-top: 1em;
}
.slider__wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}
.slider__container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100px;
}
.slider__btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 4px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
label {
    height: 100%;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    width: 30px;
    height: 100%;
}
label div {
    width: 100%;
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
input {
    position: absolute;
    visibility: hidden;
}
.slide2, .slide3, .slide4, .slide5 {
    position: absolute;
    top: 0px;
}
.slides {
    width: 100%;
}
.slides img {
    width: 100%;
    opacity: 0;
    transform: scale(0.95);
}
#slide1:checked ~ .slider__low .slider__controls .btn1 {
    background-color: #fff;
}
#slide2:checked ~ .slider__low .slider__controls .btn2 {
    background-color: #fff;
}
#slide3:checked ~ .slider__low .slider__controls .btn3 {
    background-color: #fff;
}
#slide4:checked ~ .slider__low .slider__controls .btn4 {
    background-color: #fff;
}
#slide5:checked ~ .slider__low .slider__controls .btn5 {
    background-color: #fff;
}
label:hover div {
    background-color: bisque;
}
#slide1:checked ~ .slider__container .slide1 img {
    opacity: 1;
    transform: scale(1);
}
#slide2:checked ~ .slider__container .slide2 img {
    opacity: 1;
    transform: scale(1);
}
#slide3:checked ~ .slider__container .slide3 img {
    opacity: 1;
    transform: scale(1);
}
#slide4:checked ~ .slider__container .slide4 img {
    opacity: 1;
    transform: scale(1);
}
#slide5:checked ~ .slider__container .slide5 img {
    opacity: 1;
    transform: scale(1);
}
.slider__low {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.slider__descriptions {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}
.slider__descriptions .slider__description {
    position: absolute;
    top: 0em;
    opacity: 0;
    transform: scale(0.95);
}
.slider__description {
    font-size: 2em;
    color: antiquewhite;
}
#slide1:hover ~ .slider__low .slider__descriptions #slider__description1 {
    opacity: 0.2;
    transform: scale(0.95);
    top: 1em;
}
#slide2:hover ~ .slider__low .slider__descriptions #slider__description2 {
    opacity: 0.2;
    transform: scale(0.95);
    top: 1em;
}
#slide3:hover ~ .slider__low .slider__descriptions #slider__description3 {
    opacity: 0.2;
    transform: scale(0.95);
    top: 1em;
}
#slide4:hover ~ .slider__low .slider__descriptions #slider__description4 {
    opacity: 0.2;
    transform: scale(0.95);
    top: 1em;
}
#slide5:hover ~ .slider__low .slider__descriptions #slider__description5 {
    opacity: 0.2;
    transform: scale(0.95);
    top: 1em;
}
#slide1:checked ~ .slider__low .slider__descriptions #slider__description1 {
    opacity: 1;
    transform: scale(1);
    top: 0em;
}
#slide2:checked ~ .slider__low .slider__descriptions #slider__description2 {
    opacity: 1;
    transform: scale(1);
    top: 0em;
}
#slide3:checked ~ .slider__low .slider__descriptions #slider__description3 {
    opacity: 1;
    transform: scale(1);
    top: 0em;
}
#slide4:checked ~ .slider__low .slider__descriptions #slider__description4 {
    opacity: 1;
    transform: scale(1);
    top: 0em;
}
#slide5:checked ~ .slider__low .slider__descriptions #slider__description5 {
    opacity: 1;
    transform: scale(1);
    top: 0em;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2em;
    }
}